body {
    color: slategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-box {
    border-bottom: 2px solid slategrey;
    border-top: 2px solid slategrey;
    padding: 0px;
}

#search-box button {
    border: none;
    background: none;
}

#search-box span {
    color: slategrey;
}

#instructions {
    font-size: 16px;
    margin: 0px;
}

form {
    width: 100%;
}

.form-control {
    text-transform: uppercase;
    padding: 0px;
    font-size: 36px;
    border: none;
    color: slategrey;
}

.form-control::placeholder {
    color: slategrey;
    opacity: 0.35;
}


.form-control:focus {
    box-shadow: none;
}

.axis line {
    stroke: none;
}

.axis path {
    stroke: lightslategrey;
}

.axis text {
    fill: slategrey;
    font-size: 12px;
    font-weight: bold;
}

.price-line {
    stroke-width: 2px;
    fill: none;
}

#graph-container {
    width: 1080px;
    height: 460px;
    padding: none;
    box-shadow: -2px 2px 4px lightslategrey;
}

#stocks {
    margin-top: 20px;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info-card {
    width: 18%;
    height: 64px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    padding: none;
}

.text-container {
    margin: none;
    padding: none;
    height: 36px;
    width: 100%;
    justify-content: center;
    display: flex;
}

h3 {
    font-size: 36px;
    margin: 0px;
}

h6 {
    font-size: 18px;
    margin: 0px;
    text-align: center;
    align-self: flex-end;
}

.btn-remove {
    background: none;
    padding: none;
    text-align: right;
    display: block;
    height: 24px;
    width:100%;
}

span {
    height: 100%;
    padding: 0; 
}

.highlighted {
    stroke-width: 5px;
    opacity: 0.65;
}

/*#tooltip {
    position: absolute;
    width: 100px;
    height: 80px;
    text-align: center;
    background: lightgray;
    border-left: 5px solid;
}*/

.hidden {
    display: none;
}